
  body {
    background-color: rgb(45,25,124);
    background-image: url(books.png);
  }
  .todolist {
    margin: 10% 10%;
    /* height: 60%; */
    background-color: white;
    background-size: cover;
    border-radius: 10px; 
    padding: 20px;   
  }        
  .title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title-container-login{
    display: flex;
    padding:0 2px;
  }
  a{ text-decoration-line: none;}
  a:link{ color: rgb(205,241,26);} 
  a:visited { color: rgb(205,241,26); }
  a:hover { color: white; } 
  #logout a:link{ color: red;} 
  #logout a:visited { color: red; }
  #logout a:hover { color: white; } 
  .add-task{
    display: flex;
    align-items: center;
  }
  .text-add{
    border-radius: 5px;  
    border-color: lightgray;
    height: 40px;
    width:80%;
    margin:0 10px;
  }
  .info-add{
    border-radius: 5px;  
    border-color: lightgray;
    height: 40px;
    width:40%;
    margin-right:10px;
  }
  .text-edit{
    padding:6px 0;
    border-radius: 5px;  
    border-color: lightgray;
    height: 30px;
    width: 100%;
  }
  table {
    border-collapse: separate;
    border-spacing: 3px 10px;
    text-align: center;
    width:100%;
    justify-content: space-between;
  }  
  .tag{
    padding:5px 2px;
  }
  .tag_id{
    font-size:15px;
    padding:7px 2px;
    background:#E9E9ED;
    border-radius: 5px;  
  }
  .tag_id-result{
    font-size:12px;
    padding:5px 3px;
    background:#E9E9ED;
    border-radius: 5px;  
  }
  .btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration-line: none;
    border-radius: 4px;
    transition: .4s;
    background: white;   
    font-weight:bold;
  }
  .btn-lgt{
    color: red;
    border: solid 2.5px red;
    margin:6px 7px;
    margin-top:10px;
    width:60px;
    font-size:12px;
  }
  .btn-lgt:hover {
    background: red;
    color: white;
  }
  .btn-find {
    color: rgb(205,241,26);
    border: solid 2.5px rgb(205,241,26);
  }
  .btn-find:hover {
    background: rgb(205,241,26);
    color: white;
  }
  .btn-add {
    color: #DC70FA;
    border: solid 2.5px #DC70FA;
    writing-mode: vertical-rl;
  }
  .btn-add:hover {
    background: #DC70FA;
    color: white;
  }
  .btn-edit{
    color: #FA9770;
    border: solid 2.5px #FA9770;
    writing-mode: vertical-rl;
  }
  .btn-edit:hover {
    background: #FA9770;
    color: white;
  }
  .btn-delete{
    color: #71FADC;
    border: solid 2.5px #71FADC;
    writing-mode: vertical-rl;
  }
  .btn-delete:hover {
    background: #71FADC;
    color: white;
  }
